@model Pizza
@{
    Layout = "_Header";
}
@if (Model != null) {
    <div class="container-fluid mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col col-10 align-">
                <div class="row">
                    <div class="col-10">
                        <img src="@Model.PictureUrl" alt="Foto di una pizza" class="img-fluid" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h1>@Model.Name</h1>
                        <p class="lead">
                            @Model.Description<br>
                            @Model.Price.ToString("C")
                        </p>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
}
else {
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col col-lg-8">
                <h3 class="font-monospace">Non esiste una pizza con ID @Context.Request.Query["id"]!</h3>
            </div>
        </div>
    </div>
}