@{
    ViewData["Title"] = "Home Page";
    Layout = "_Header";

    dynamic Card(string title, string imageUrl, string text, string buttonText, string? buttonHref) {
        <div class="card">
            <img src="@imageUrl" class="card-img-top img-fluid" alt="An Image">
            <div class="card-body">
                <h5 class="card-title">@title</h5>
                <p class="card-text">@text</p>
                <a href="@buttonHref" class="btn btn-primary">@buttonText</a>
            </div>
        </div>
        return null;
    }
}

<div class="container-fluid my-3 p-0 w-100 d-flex justify-content-center">
    <div class="row justify-content-evenly w-100">
        <div class="col-lg-5 col-10 d-flex justify-content-center">
            @Card("Le nostre pizze",
            "https://thumbs.dreamstime.com/b/many-pizzas-assorted-toppings-rustic-wooden-table-top-v-many-pizzas-assorted-toppings-rustic-wooden-table-top-view-115723290.jpg",
            "Vedi il nostro menù di pizze!",
            "Scopri adesso",
            Url.Action("Index", "Pizza"))
        </div>
        <div class="col-lg-5 col-10 d-flex justify-content-center">
            @Card("Aggiungi una pizza", "https://cdn.hswstatic.com/gif/tossing-a-pizza-1.jpg", "Aggiungi una pizza al menù!", "Aggiungi", Url.Action("New", "Pizza"))
        </div>
    </div>
</div>